{% load static %}

<nav class="nav">
  <div class="container">
    <img class="logo" src="{% static 'images/logo.png' %}" alt="Logo" />
    <h1 class="wut-info">
      Koło Naukowe Mikrosystemów ONYKS<br />
      <p>Politechnika Warszawska</p>
    </h1>
    <div class="menu-icon" id="menu-icon">
      <i class="fas fa-bars"></i>
    </div>
    <ul class="nav-links" id="nav-links">
      <li>
        <a
          href="{% url 'index' %}"
          class="{% if request.resolver_match.url_name == 'index' %}current{% endif %}"
          >Home</a
        >
      </li>
      <li>
        <a
          href="{% url 'about' %}"
          class="{% if request.resolver_match.url_name == 'about' %}current{% endif %}"
          >O nas</a
        >
      </li>
      <li>
        <a
          href="{% url 'projects' %}"
          class="{% if request.resolver_match.url_name == 'projects' %}current{% endif %}"
          >Projekty</a
        >
      </li>
      <li>
        <a
          href="{% url 'contact' %}"
          class="{% if request.resolver_match.url_name == 'contact' %}current{% endif %}"
          >Kontakt</a
        >
      </li>
      <li>
        <a
          href="{% url 'live_status' %}"
          class="{% if request.resolver_match.url_name == 'live_status' %}current{% endif %}"
          >Live status</a
        >
      </li>
      <li>
        <a
          href="{% url 'join_us' %}"
          class="{% if request.resolver_match.url_name == 'join_us' %}current{% endif %}"
          >Dołącz do nas</a
        >
      </li>
      <li>
        <a
          href="{% url 'documents' %}"
          class="{% if request.resolver_match.url_name == 'documents' %}current{% endif %}"
          >Dokumenty</a
        >
      </li>
    </ul>
  </div>
</nav>
