{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- Pliki CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" 
          integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" 
          crossorigin="anonymous"/>

    <title>Onyks</title>
    <link rel="icon" href="{% static 'images/ico.ico' %}" type="image/x-icon">

    <!-- Skrypty -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  </head>
  
  <body>
    {% include 'header.html' %}
    <div class="hero">
      <div class="swiper-container">
        <div class="swiper-wrapper">
  {% for slide in swiper_images %}
    <div class="swiper-slide">
      <img src="{{ slide.image_src }}" alt="{{ slide.title|default:'Slajd' }}" />
    </div>
  {% empty %}
    {# fallback – jeśli brak slajdów, możesz pokazać 1 obrazek statyczny #}
    <div class="swiper-slide">
      <img src="{% static 'images/gallery/main1.png' %}" alt="Domyślny slajd" />
    </div>
  {% endfor %}
</div class="dupa">


        <!-- Nawigacja Swiper -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
    
      <div class="overlay"></div>
      <div class="text-layer">
        <h1>Witamy na stronie KN ONYKS!</h1>
        <p>Lutownica w dłoń! </br> <<< Dołącz do imperium pasjonatów elektroniki >>></p>
      </div>
    </div>

    <section class="container content">
{% for post in posts %}
  <article class="post">
    <h2>{{ post.title }}</h2>
    <div class="post-content">
      {{ post.cleaned_content|safe }}
    </div>
  </article>
{% endfor %}

    </section>
        

    {% include 'footer.html' %}

    <!-- Ładowanie Swipera -->
    <!-- <script src="{% static 'js/swiper.js' %}"></script> -->
    <script src="{% static 'js/main.js' %}"></script>

  </body>
</html>
